<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">Offer Vehicles</h4>
                  </div>


                  <div class="card-content">
                    <button type="submit" (click)="offerVehicle()" class="btn btn-success pull-right">Offer Vehicle</button>
                    <div class="clearfix"></div>
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                  <label for="selectTypeVehicle">Select Type Vehicle</label>
                                  <select class="form-control" id="selectTypeVehicle">
                                    <option disabled selected> Select Type Vehicle</option>
                                    <option value="1">Car</option>
                                    <option value="2">PickUp</option>
                                    <option value="3">Moto</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Patent</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label"></label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Model</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Brand</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Adress</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">Clear</button>
                          <button type="submit" class="btn btn-success pull-right">Search</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
                <div class="card">

                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Result</h4>
                        <p class="category">all for you publications</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-success">
                                <tr>
                                    <th>Image</th>
                                    <th>Offerent</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Rent Price</th>
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let publication of publications; let i = index">
                                    <td><img src="{{publication?.photos[0]}}" width="42px" height="42px" /></td>
                                    <td>{{publication.userOfferentName}}</td>
                                    <td>{{publication.brand}}</td>
                                    <td>{{publication.model}}</td>
                                    <td class="text-success">{{publication.rentPrice}}</td>
                                    <td>{{publication.startingDate}}</td>
                                    <td>{{publication.endingDate}}</td>
                                    <td>
                                      <span>
                                        <a (click)="edit(publication)"><i class="material-icons">edit</i></a>
                                        <a (click)="delete(publication)"><i class="material-icons">delete</i></a>
                                      </span>
                                    </td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
