<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">{{'offered.vehicles.title' | translate}}</h4>
                  </div>


                  <div class="card-content">
                    <button type="submit" (click)="offerVehicle()" class="btn btn-success pull-right">{{'offered.vehicles.offerVehicle' | translate}}</button>
                    <div class="clearfix"></div>
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                  <label for="selectTypeVehicle">{{'offered.vehicles.selectTypeVehicle' | translate}}</label>
                                  <select class="form-control" id="selectTypeVehicle">
                                    <option disabled selected>{{'offered.vehicles.selectTypeVehicle' | translate}}</option>
                                    <option value="1">{{'offered.vehicles.car' | translate}}</option>
                                    <option value="2">PickUp</option>
                                    <option value="3">Moto</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.patent' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label"><!--ToDo... ¿esto va vacío?--></label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.model' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.brand' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offered.vehicles.address' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">{{'offered.vehicles.clear' | translate}}</button>
                          <button type="submit" class="btn btn-success pull-right">{{'search' | translate}}</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
                <div class="card">

                    <div class="card-header" data-background-color="green">
                        <h4 class="title">{{'offered.vehicles.result' | translate}}</h4>
                        <p class="category">{{'offered.vehicles.allForYourPublications' | translate}}</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-success">
                                <tr>
                                    <th>{{'offer.vehicle.image' | translate}}</th>
                                    <th>{{'offer.vehicle.offerent' | translate}}</th>
                                    <th>{{'offer.vehicle.brand' | translate}}</th>
                                    <th>{{'offer.vehicle.model' | translate}}</th>
                                    <th>{{'offer.vehicle.rentPrice' | translate}}</th>
                                    <th>{{'offer.vehicle.startingDate' | translate}}</th>
                                    <th>{{'offer.vehicle.endingDate' | translate}}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let publication of publications; let i = index">
                                    <td><img src="{{publication?.photos[0]}}" width="42px" height="42px" /></td>
                                    <td>{{publication.userOfferentName}}</td>
                                    <td>{{publication.brand}}</td>
                                    <td>{{publication.model}}</td>
                                    <td class="text-success">{{publication.rentPrice}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
