<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">Rented Vehicles</h4>
                  </div>


                  <div class="card-content">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                  <label for="selectTypeVehicle">Select Type Vehicle</label>
                                  <select class="form-control" id="selectTypeVehicle">
                                    <option disabled selected> Select Type Vehicle</option>
                                    <option value="1">Car</option>
                                    <option value="2">PickUp</option>
                                    <option value="3">Moto</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Patent</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label"></label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Model</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Brand</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Adress</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">Clear</button>
                          <button type="submit" class="btn btn-success pull-right">Search</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
                <div class="card">

                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Simple Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-success">
                                <tr>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="text-danger">$36,738</td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
