<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">{{'rented.vehicles.title' | translate}}</h4>
                  </div>


                  <div class="card-content">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                  <label for="selectTypeVehicle">{{'offered.vehicles.selectTypeVehicle' | translate}}</label>
                                  <select class="form-control" id="selectTypeVehicle">
                                    <option disabled selected> {{'offered.vehicles.selectTypeVehicle' | translate}}</option>
                                    <option value="1">{{'offered.vehicles.car' | translate}}</option>
                                    <option value="2">PickUp</option>
                                    <option value="3">Moto</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.patent' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label"></label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.model' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.brand' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offered.vehicles.address' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">{{'offered.vehicles.clear' | translate}}</button>
                          <button type="submit" class="btn btn-success pull-right">{{'search' | translate}}</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
                <div class="card">

                    <div class="card-header" data-background-color="green">
                        <h4 class="title">{{'rented.vehicles.simpleTable' | translate}}</h4>
                        <p class="category">{{'rented.vehicles.hereIsASubtitleForThisTable' | translate}}</p>
                    </div>
                    <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-success">
                              <tr>
                                  <!-- <th>Image</th> -->
                                  <th>Offerent</th>
                                  <th>Rented</th>
                                  <th>Brand</th>
                                  <th>Model</th>
                                  <th>Rent Price</th>
                                  <th>State</th>
                                  <th>Starting Date</th>
                                  <th>Ending Date</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let rent of rents; let i = index">
                                  <!-- <td><img src="{{rent?.photos[0]}}" width="42px" height="42px" /></td> -->
                                  <td>{{rent.userName}}</td>
                                  <td>{{rent.userRenterName}}</td>
                                  <td>{{rent.brand}}</td>
                                  <td>{{rent.model}}</td>
                                  <td class="text-success">{{rent.rentPrice}}</td>
                                  <td>{{rent.state}}</td>
                                  <td>{{rent.startingDate}}</td>
                                  <td>{{rent.endingDate}}</td>
                                  <td>
                                    <span>
                                      <a (click)="confirm(rent)"><i class="material-icons">check</i></a>
                                      <a (click)="delete(rent)"><i class="material-icons">clear</i></a>
                                    </span>
                                  </td>
                              </tr>
                            </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
