<div class="form-group form-black">
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>

<!-- <agm-map #googleMap *ngIf="showMap" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
  <agm-marker  [latitude]="latitudeMarker" [longitude]="longitudeMarker" [markerDraggable]="true" [label]="label | translate" (dragEnd)="markerDragEnd($event)">
    <agm-info-window>

      <strong> {{'app.map.type' | translate}} </strong>:

      <label *ngIf="account.typeAccountCode == 'Pos' "> {{'app.account.page.pos' | translate}} </label>
      <label *ngIf="account.typeAccountCode == 'Dist' "> {{'app.account.page.distributor' | translate}} </label>

      <br>

      <strong>{{'app.map.account' | translate}} </strong>:
      <label> {{account.businessName}} </label>

      <br>

      <strong>{{'app.map.address' | translate}} </strong>:
      <label> {{account.addressDto.addressStr}} </label>

    </agm-info-window>
  </agm-marker>
</agm-map> -->
