<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="green">
              <h4 class="title">Write your address</h4>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card-content">
                <div class="clearfix"></div>
                  <app-maps></app-maps>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
