<div style="text-align:center">
  <h1>
    {{'login.title' | translate}}
  </h1>
  <h3> {{'login.subTitle' | translate}}</h3>
  <img width="200" alt="Angular Logo" src="/assets/public/img/car-flag-icons-66840.png">

  <!-- <div class="navbar navbar-default navbar-fixed-top"> </div> -->

  <div class="jumbotron bg-transparent text-center">
    <div *ngIf="!user" class="card text-center">

      <div class="card-block">
        <h4 class="card-title">{{'login.notSignedIn' | translate}}</h4>
        <p class="card-text">{{'login.signInWith' | translate}}</p>
      </div>
      <div class="card-block">
        <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
        <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
      </div>
    </div>
    <div *ngIf="user" class="card text-center">

      <div class="card-block"></div>
      <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
      <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
      </div>
      <div class="card-block">
        <button class="btn btn-danger" (click)="signOut()">{{'login.signOut' | translate}}</button>
      </div>

    </div>

</div>

</div>
