<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">Load Credit</h4>
                  </div>


                  <div class="card-content">
                    <div class="clearfix"></div>
                      <form>
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Credit Amount</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">credit card</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Date venciment</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">digit</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">Cancel</button>
                          <button type="submit" class="btn btn-success pull-right">Load</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
