<div class="main-content">
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Registered Vehicles</h4>
                <p class="category">Register your vehicle</p>
            </div>
            <div class="card-content">
                <form>
                    <div class="row">
                        <div class="col-md-5">
                          <div class="form-group form-black label-floating is-empty">
                            <label for="selectTypeVehicle">Select Type Vehicle</label>
                            <select class="form-control" [(ngModel)]="entity.vehicleType" name="typeVehicleCode" id="selectTypeVehicle">
                              <option value="null" selected="selected"> Select Type Vehicle</option>
                              <option *ngFor="let type of types" [value]="type.description">{{type.description}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Patent</label>
                                <input [(ngModel)]="entity.patent" name="patent" type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Passenger Capability</label>
                                <input [(ngModel)]="entity.passengerCapability" name="passengerCapability" type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Model</label>
                                <input [(ngModel)]="entity.model" name="model" type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Brand</label>
                                <input [(ngModel)]="entity.brand" name="brand"  type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Adress</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Postal Code</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <button type="submit" (click)="registerVehicle()" class="btn btn-success pull-right">Register</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
