.nav-tabs {
    background: #46b027;
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: transparent;
    border: 0 !important;
    color: #181010 !important;
    font-weight: 550;
}

.btn.btn-primary.btn-simple {
    background-color: transparent;
    color: #9c27b0;
    box-shadow: none;
}
.box {
  margin: 5px auto 40px auto;
  border-radius: 30px;
  color: #9c27b0;
  height: 45px;
  font-size: 100;
  overflow: hidden;
  width: 330px;
  position: relative;
}
select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}

.box::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;
	pointer-events: none;
}
