<div class="main-content">
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card">

            <ul class="nav nav-tabs">
              <li><a routerLinkActive="active" [routerLink]="['registered-vehicles']" >Registered Vehicles</a></li>
              <li><a routerLinkActive="active" [routerLink]="['offered-vehicles']">Offered Vehicles</a></li>
              <li><a routerLinkActive="active" [routerLink]="['rented-vehicles']">Rented Vehicles</a></li>
              <li><a routerLinkActive="active" [routerLink]="['closed-operations']">Closed Operations</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10" >

    <div class="row">
   </div>
  </div> -->
