<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">Registered Vehicles</h4>
                  </div>


                  <div class="card-content">
                    <button type="submit" (click)="register()" class="btn btn-success pull-right">Register</button>
                    <div class="clearfix"></div>
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                  <label for="selectTypeVehicle">Select Type Vehicle</label>
                                  <select class="form-control" id="selectTypeVehicle">
                                    <option disabled selected> Select Type Vehicle</option>
                                    <option value="1">Car</option>
                                    <option value="2">PickUp</option>
                                    <option value="3">Moto</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Patent</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label"></label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Model</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Brand</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Adress</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">Clear</button>
                          <button type="submit" class="btn btn-success pull-right">Search</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
                <div class="card">

                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Result</h4>
                        <p class="category">Your vehicles registered</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-striped" [mfData]="vehicles" #mf="mfDataTable" [mfRowsOnPage]="2" >
                            <thead class="text-success">
                                <tr>
                                    <th>Model</th>
                                    <th>Brand</th>
                                    <th>Passenger Capability</th>
                                    <th>Type Vehicle</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vehicle of mf.data">
                                    <td>{{vehicle.model}}</td>
                                    <td>{{vehicle.brand}}</td>
                                    <td>{{vehicle.passengerCapability}}</td>
                                    <td>{{vehicle.vehicleType}}</td>
                                    <td>
                                      <span>
                                        <a (click)="edit(vehicle)"><i class="material-icons">edit</i></a>
                                        <a (click)="delete(vehicle)"><i class="material-icons">delete</i></a>
                                        <a (click)="offerVehicle(vehicle)"><i class="material-icons">local_offer</i></a>
                                      </span>
                                    </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                 <tr>
                                     <td colspan="4">
                                         <mfBootstrapPaginator [rowsOnPageSet]="[2,4,6]"></mfBootstrapPaginator>
                                     </td>
                                 </tr>
                              </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
