<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                  <div class="card-header" data-background-color="green">
                      <h4 class="title">{{'offer.vehicle.registeredVehicles' | translate}}</h4>
                  </div>


                  <div class="card-content">
                    <button type="submit" (click)="register()" class="btn btn-success pull-right">{{'form.register' | translate}}</button>
                    <div class="clearfix"></div>
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty">
                                  <label for="selectTypeVehicle">{{'offered.vehicles.selectTypeVehicle' | translate}}</label>
                                  <select class="form-control" id="selectTypeVehicle">
                                    <option disabled selected>{{'offered.vehicles.selectTypeVehicle' | translate}}</option>
                                    <option value="1">{{'offered.vehicles.car' | translate}}</option>
                                    <option value="2">PickUp</option>
                                    <option value="3">Moto</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.patent' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label"></label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.model' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offer.vehicle.brand' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">{{'offered.vehicles.address' | translate}}</label>
                                      <input type="text" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-danger pull-right">{{'offered.vehicles.clear' | translate}}</button>
                          <button type="submit" class="btn btn-success pull-right">{{'search' | translate}}</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
                </div>
                <div class="card">

                    <div class="card-header" data-background-color="green">
                        <h4 class="title">{{'closed.operations.result' | translate}}</h4>
                        <p class="category">{{'register.vehicle.yourRegisteredVehicles' | translate}}</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-success">
                                <tr>
                                    <th>{{'offer.vehicle.model' | translate}}</th>
                                    <th>{{'offer.vehicle.brand' | translate}}</th>
                                    <th>{{'register.vehicle.passengerCapability' | translate}}</th>
                                    <th>{{'register.vehicle.vehicleType' | translate}}</th>
                                    <th>{{'register.vehicle.actions' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vehicle of vehicles">
                                    <td>{{vehicle.model}}</td>
                                    <td>{{vehicle.brand}}</td>
                                    <td>{{vehicle.passengerCapability}}</td>
                                    <td>{{vehicle.vehicleType}}</td>
                                    <td>
                                      <span>
                                        <a (click)="edit(vehicle)"><i class="material-icons">{{'register.vehicle.edit' | translate}}</i></a>
                                        <a (click)="delete(vehicle)"><i class="material-icons">{{'register.vehicle.delete' | translate}}</i></a>
                                        <a (click)="offerVehicle(vehicle)"><i class="material-icons">{{'offered.vehicles.offerVehicle' | translate}} </i></a>
                                      </span>
                                    </td>
                                </tr>
                              </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
