<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">{{'dashboard.credit' | translate}}</p>
                            <h3 class="title">$50<small></small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">{{'dashboard.warning' | translate}}</i> <a>{{'dashboard.getMoreSpace' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">{{'dashboard.store' | translate}}</i>
                        </div>
                        <div class="card-content">
                            <p class="category">{{'dashboard.theLastSold' | translate}}</p>
                            <h3 class="title">$34,245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i>{{'dashboard.last24Hours' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
