<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">Edit Account</h4>
                    <p class="category">Complete your Account</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Cuil</label>
                                    <input type="text" [(ngModel)]="entity.cuil" class="form-control" name="username">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email</label>
                                    <input type="email" [(ngModel)]="entity.email" class="form-control" name="email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Fist Name</label>
                                    <input type="text" [(ngModel)]="entity.name" class="form-control" name="fist Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" [(ngModel)]="entity.lastName" class="form-control" name="lastName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Address</label>
                                    <input type="text" class="form-control" name="address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">City</label>
                                    <input type="text" class="form-control" name="city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Country</label>
                                    <input type="text" class="form-control" name="country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Postal Code</label>
                                    <input type="text" class="form-control" name="code">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> Description</label>
                                        <textarea class="form-control" rows="5" name="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button *ngIf="entity?.isRegister" (click)="updateAccount($event)" class="btn btn-success pull-right">Update Account</button>
                        <button *ngIf="!entity?.isRegister" (click)="createAccount($event)" class="btn btn-success pull-right">Create Account</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
