<div class="main-content">
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card">

            <ul class="nav nav-tabs">
              <li><a routerLinkActive="active" [routerLink]="['closed-rents']" >{{'rent.closedRents' | translate}}</a></li>
              <li><a routerLinkActive="active" [routerLink]="['search-vehicles']">{{'rent.searchVehicles' | translate}}</a></li>
              <li><a routerLinkActive="active" [routerLink]="['rent-vehicles']">{{'rent.rentedVehicles' | translate}}</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10" >

    <div class="row">
   </div>
  </div> -->
